<mat-nav-list>
    <a mat-list-item [routerLink]="[ '/' ]" (click)="onSidenavClose()">
      <mat-icon>arrow_back</mat-icon>
    </a>
  </mat-nav-list>

<mat-list-item [matMenuTriggerFor]="menu">
    <mat-icon>call_to_action</mat-icon>
    <a matline>Acciones</a>
</mat-list-item>
<mat-menu #menu="matMenu">
  <button mat-menu-item [routerLink]="['/pers']" >Personas</button>
</mat-menu>
<mat-list-item [matMenuTriggerFor]="menu1">
    <mat-icon>insert_drive_file</mat-icon>
    <a matline>Reportes</a>
</mat-list-item>
<mat-menu #menu1="matMenu">
  <button mat-menu-item >R. Persona</button>
</mat-menu>